<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new payment</title>
</head>
<body>
<h2>Create a payment here</h2>
    <form th:action = "@{/payment/create}" th:object = "${payment}" method="post">
        <label for="orderId">Order ID:</label>
        <input type="text" th:field="*{orderId}" id="orderId"/>
        <div th:if="${#fields.hasErrors('orderId')}" th:errors="*{orderId}"></div>

        <label for="amount">Amount:</label>
        <input type="number" step="0.01" th:field="*{amount}" id="amount"/>
        <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>

        <label for="paymentDate">Payment Date:</label>
        <input type="date" th:field="*{paymentDate}" id="paymentDate"/>
        <div th:if="${#fields.hasErrors('paymentDate')}" th:errors="*{paymentDate}"></div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>