<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="myTitle">Result</title>
</head>
<body>
<section layout:fragment="content">
    <div th:if="${original} and ${formatted}">
        <h2>Original Code</h2>
        <textarea class="form-control mb-3 " readonly th:text="${original}" rows="8"></textarea>

        <h2>Formatted Code</h2>
        <textarea class="form-control mb-3" readonly th:text="${formatted}" rows="8"></textarea>
    </div>

    <div th:if="${foundOldCode} and ${foundNewCode}">
        <h2>Found Original</h2>
        <textarea class="form-control mb-3" readonly th:text="${foundOldCode}" rows="8"></textarea>

        <h2>Found Formatted</h2>
        <textarea class="form-control mb-3" readonly th:text="${foundNewCode}" rows="8"></textarea>
    </div>

    <div th:if="${message}" class="alert alert-info mt-3" th:text="${message}"></div>

    <form th:action="@{/}" method="get" class="mt-4 text-center">
        <button class="btn btn-outline-primary">Back</button>
    </form>
</section>
</body>
</html>
